header {
  height: 10vh;
  padding: 1.5em;

  .points {
    font-size: 2rem;
    margin-bottom: 0.5em;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .countdown {
    font-size: 1.5rem;
    font-weight: 400;
  }
}
