@use "../abstracts/mixins" as *;

.anchor {
  position: relative;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 1.5em 3em;

  &__front {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    background-color: #fff;
    color: #333;
    position: absolute;
    transform: rotateY(90deg);
    transition: all ease-in 0.15s;
    border: 1px solid #fff;
    border-radius: 5px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .anchor__level {
      font-size: 2.7rem;
      margin-top: -0.3em;
      font-weight: 400;
      letter-spacing: 2px;

      @include mq(large) {
        font-size: 2.4rem;
      }

      @include mq(medium) {
        font-size: 2.2rem;
      }
    }

    .anchor__pair-number {
      font-size: 1.7rem;

      @include mq(large) {
        font-size: 1.5rem;
      }

      @include mq(medium) {
        font-size: 1.3rem;
      }
    }

    .anchor__reward {
      font-size: 1.25rem;

      @include mq(large) {
        font-size: 1.05rem;
      }

      @include mq(medium) {
        font-size: 0.95rem;
      }
    }
  }

  &__back {
    background-color: #333333;
    transition: all ease-in 0.15s;
    transition-delay: 0.15s;
    border-radius: 5px;

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 15em;
    width: 15em;

    @include mq(large) {
      width: 13em;
      height: 13em;
    }

    @include mq(medium) {
      width: 12em;
      height: 12em;
    }
  }

  &--flipped {
    .anchor__front {
      transform: rotateY(0deg);
      transition-delay: 0.15s;
    }

    .anchor__back {
      transform: rotateY(90deg);
      transition-delay: 0s;
    }
  }
}
